<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{app.pages.people.title}">People Title</title>
</head>

<body>
<div th:fragment="people-form">
    <fieldset th:if="${#fields.hasErrors('${entity.*}')}" class="text-warning">
        <legend th:text="#{form.error.legend.title}">Some errors appeared !</legend>
        <ul>
            <li th:each="err : ${#fields.errors('entity.*')}" th:text="${err}"></li>
        </ul>
    </fieldset>
    <form th:action="@{/people/{endpoint}(endpoint=${endpoint})}" th:object="${entity}" th:method="post">
        <div class="mb-3">
            <label for="form-id" class="form-label" th:text="#{vehicle.id}">Id</label>
            <input type="text" class="form-control" id="form-id" th:field="*{id}" >
            <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger" >
                Error Message
            </p>
        </div>
        <div class="mb-3">
            <label for="form-name" class="form-label" th:text="#{person.name}">Name</label>
            <input type="text" class="form-control" id="form-name" th:field="*{name}">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger" >
                Error Message
            </p>
        </div>
        <div class="mb-3">
            <label for="form-can-drive" class="form-label" th:text="#{person.canDrive}">Can Drive</label>
            <input type="text" class="form-control" id="form-can-drive" th:field="*{canDrive}">
            <p th:if="${#fields.hasErrors('canDrive')}" th:errors="*{canDrive}" class="text-danger" >
                Error Message
            </p>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{${saveButtonMessageSourceCode}}">Save</button>
        <button type="button" class="btn btn-secondary goback" th:text="#{form.goback.button}">Back</button>
    </form>
</div>
</body>
</html>